header {
  background-color: rgb(2, 2, 46);
  display: flex;
  justify-content: space-evenly;
  border-radius: 1.5em;
  margin: 8px 8px 8px 8px;
  position: relative;
}

.img{
  border-radius: 7em;
}

p {
  text-align: end;
  font-size: 70px;
  color: white;
}

input {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
}

button {
  width: 10%;
  padding: 12px 20px;
  background-color: red;
  border: none;
  font-size: 17px;
  border-radius: 1.5em;
}